.courses-section {
    display: flex;
    justify-content: center;
    align-items: center;
}

.course-container .course-container{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: aqua;
    width: 100%;
}

.course-container {
    /* padding: 50px; */
}

.course-contents {
    display: flex;
    justify-content: center;
    align-items: center;
}

.course-head {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 90%;
    padding: 20px;
}

.course-head h2 {
    color: #0a6b40;
    font-size: 30px;
    padding: 10px 0;
    font-family: 'Courier New', Courier, monospace;
}

.course-head p {
    /* padding: 10px; */
    font-size: 16px;
    text-align: center;
}

.course-choices {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    padding: 20px 0;
}

.course {
    width: 250px;
    background-color: whitesmoke;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    gap: 10px;
    
}

.course img {
    width: 100%;
    /* height: 150px; */
    image-rendering: pixelated;
    border-radius: 10px 10px 10px 10px;
}

.course .content {
    padding: 15px;

}

.course .content h1 {
    font-size: 13px;
    font-weight: 600;
}

.course .content h3 {
    color: gray;
    font-size: 10px;
}

.course .content p {
    text-align: left;
    padding: 8px 0;
}
