.our-courses {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.courses-section {
    display: flex;
    justify-content: center;
    align-items: center;
}

.course-container{
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: aqua; */
    width: 100%;
}

.course-container {
    /* padding: 50px; */
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: aqua; */
    width: 100%;
    /* background-color: #d8f3dc; */
}

.course-contents {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.course-head {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 20px;
    width: 80%;
    padding: 20px;
}

.course-head h2{
    color: #0a6b40;
    font-size: 30px;
    padding: 10px 0;
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
}

/* .course-head p {
} */

.Heading p {
    padding: 10px 200px;
    font-size: 16px;
    text-align: center;
    color: #0a6b40;
}

.course-choices {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 15px;
    padding: 20px;
}

.course {
    width: 230px;
    background-color: white;
    border-radius: 5px;
    gap: 10px;
    border: 1px solid #0a6b40;
    transition: all .5s;
}

.course:hover {
    box-shadow: 0 5px 40px rgba(0, 0, 0, 0.4);
    margin-bottom: 20px;
    border: none;
}

.course img {
    width: 100%;
    height: 150px;
    /* image-rendering: pixelated; */
    border-radius: 5px 5px 5px 5px;
    /* opacity: .8; */
}

.course img:hover {
    opacity: .9;
}

.course .content {
    padding: 10px;

}

.course .content h1 {
    font-size: 13px;
    font-weight: 600;
    color: #0a6b40;
}

.course .content h3 {
    color: gray;
    font-size: 10px;
}

.course .content p {
    text-align: left;
    padding: 8px 0;
    font-size: 13px;
}

.course-length {
    display: flex;
    width: 100%;
    justify-content: space-between;
    /* padding: 10px 10px; */
    margin: 0;
    color: #0a6b40;
}

.course-length h4 {
    font-size: 12px;
}

.course-length a {
    text-decoration: none;
    font-size: 18px;
    color: #0a6b40;
    /* font-weight: 600; */
}

#moreCourseBtn {
    padding: 15px;
    color: #ffffff;
    background-color: #0a6b40;
    font-size: 16px;
    font-weight: 600;
    border: none;
    border-radius: 5px;
    /* opacity: .4; */
    cursor: pointer;
}


/* Fourth Section  */
.Admission {
    display: flex;
    justify-content: center;
    align-items: center;
    /* height: 100vh; */
}

.Admission .admission-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #fff;
    width: 100%;
    padding: 0;
}

.admission-container .ad-content {
    display: flex;
    justify-content: center;
    align-items: center;
    /* border: 2px solid blueviolet; */
    /* flex-wrap: wrap; */
    /* flex-direction: column; */
    width: 80%;
}

.ad-content .flex {
    display: flex;
    flex-direction: column;
    width: 50%;
    padding: 10px;
    margin: 0 10px;
    /* border: 2px solid red; */
}

.flex .heading {
    width: 100%;
    padding: 0 10px;
    text-align: left;
}

.flex .heading h1 {
    text-align: left;
    font-size: 25px;
    /* color: #0a6b40; */
    /* font-weight: 900; */
}

.flex .contents {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

.flex .contents .content-a {
    padding-right: 25px;
    color: #0a6b40;
}

.flex .contents .content-text {
    padding: 0 10px;
    margin: 10px;
}

.flex .contents .more {
    padding: 0 20px;
}

.flex .contents .content-text h3{
    font-size: 18px;
    /* color: #0a6b40; */
}

.flex .contents .content-text p {
    font-size: 15px;
    text-align: justify;
}




.ad-content .ad-image {
    width: 500px;
    height: 400px;
    display: flex;
    /* flex-wrap: wrap; */
    /* background-color: #0a6b40; */
}

.ad-image img {
    width: 45%;
    border-radius: 10px;
    margin: 10px;
}

.grid-image {
    width: 250px;
    height: 100%;
    padding: 15px 0;
}

.grid-image img {
    width: 100%;
    height: 160px;
    margin: 10px 0;
}

/* Footer Section  */
.footer {
    width: 100%;
    height: 400px;
}

.footer .footer-container {
    width: 100%;
    height: 100%;
    background-color: #0a6b40;
    padding: 15px;
}