* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-width: 100vh;
    background-color: whitesmoke;
    font-family: 'Poppins', sans-serif;
}

 /* nav bar section */
header {
    /* position: fixed; */
    width: 100%;
    top: 0;
    right: 0;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 7%;
    background: #ffffff;
    transition: all .5s ease;
    box-shadow: 0 5px 30px rgba(0, 0, 0, 0.3);
}

.nav-bar {
    display: flex;
    visibility: visible;
}

.logo img{
    width: 120px;
    height: 50px;
}

/* .logo span {
    color: #40916c;
} */

.nav-bar li {
    list-style: none;
    margin: 0 5px;
}

.nav-bar li a {
    text-decoration: none;
    font-size: 1.1rem;
    color: #000;
    font-weight: 500;
    padding: 5px 15px;
    margin: 0 5px;
    border-radius: 5px;
}

.nav-bar li a.sign-up-btn {
    background-color: #0a6b40;
    color: #fff;
}

.nav-bar li a:hover {
    color: #40916c;
    background-color: whitesmoke;
}

.nav-bar li a.active {
    color: #40916c;
}

#menu-icon {
    font-size: 23px;
    cursor: pointer;
    display: none;
}

#menu-icon:hover {
    color: #40916c;
}

@media (max-width: 1280px) {
    header {
        padding: 14px 2%;
    }

    .nav-bar {
        padding: 5px 0;
        margin: 0 20px;
    }
}

@media (max-width: 840px) {
    #menu-icon {
        display: block;
    }
    .nav-bar {
        position: absolute;
        top: 100%;
        right: 2%;
        width: 300px;
        /* height: 60vh; */
        background: #40916c;
        display: none;
        flex-direction: column;
        justify-content: flex-start;
        border-radius: 0 0 10px 10px;
        transition: all 0.50s ease;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
        z-index: 1000;
    }

    .nav-bar.active {
        display: flex;
    }

    .nav-bar li a {
        display: block;
        margin: 10px 0px;
        padding: 7px 25px;
        color: #ffffff;
    }

    .nav-bar li a.active {
        background-color: whitesmoke;
    }
}

/* Image section */
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90vh;    
}

.image-comtainer {
    position: relative;
    display: flex;
    /* justify-content: center; */
    align-items: center;
    height: 90vh;
    width: 100%;
    background-color: blueviolet;
    transition: 0.4s;
    
}

.image-comtainer img {
    width: 100%;
    height: 100%;
    
}
#prevBtn {
    position: absolute;
    display: flex;
    top: 50%;
    left: 5%;
    transform: translate(-50%, -50%) !important;
    font-size: 50px;
    border: none;
    background: transparent;
    opacity: .3;
    cursor: pointer;
}

#prevBtn:hover {
    opacity: .8;
}

#nextBtn {
    position: absolute;
    display: flex;
    top: 50%;
    right: 2%;
    transform: translate(-50%, -50%) !important;
    font-size: 50px;
    border: none;
    background: transparent;
    opacity: .3;
    cursor: pointer;
}

#nextBtn:hover {
    opacity: .8;
}

@media (max-width: 840px) {
    .section-1 img {
        height: 80vh;
        width: 100vw;
        position: static;
    }

    #prevBtn {
        position: absolute;
        display: flex;
        top: 40%;
        left: 5%;
        transform: translate(-50%, -50%) !important;
    }

    #nextBtn {
        position: absolute;
        display: flex;
        top: 40%;
        right: 3%;
        z-index: 3;
        transform: translate(-50%, -50%) !important;
    }
}

/* First content  */
.content-1 {
    position: absolute;
    top: 50%;
    left: 65%;
    transform: translate(-50%, -50%) !important;
    z-index: 10;
}


.content-1 h1 {
    font-size: 50px;
    color: #0a6b40;
    font-weight: 900;
    word-wrap: wrap;
}

.content-1 p {
    font-size: 15px;
    color: wheat;
}

.content-1 .chooseHavtont button{
    width: 200px;
    color: white;
    padding: 10px;
    margin: 20px 10px;
    background:#0a6b40;
    border: none;
    font-size: 18px;
    font-weight: 600;
    cursor: pointer;
}

.content-1 .chooseHavtont a {
    color: rgb(255, 255, 255);
    text-decoration: none;
}

/* .content-1 .chooseHavtont {
    margin: 20px 150px; 
} */

.content-1 button:hover {
    opacity: .9;
}

@media (max-width: 840px) {
    .content-1 {
        position: absolute;
        top: 50%;
        left: 50%;
        width: 70%;
        height: 50%;
        padding: 10px;
        /* align-items: center;
        justify-content: center; */
        transform: translate(-50%, -50%) !important;
        background-color: rgba(0, 0, 0, 0.3);
        z-index: 20;
    }

    .content-1 h1 {
        font-size: 35px;
        text-align: left;
        padding: 20px;
        color: #0a6b40;
        font-weight: 900;
        word-wrap: wrap;
    }

    .content-1 p {
        font-size: 13px;
        color: wheat;
        padding: 0 20px;
    }
}

/* about section  */
.about {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
    transition: all .30s ease;
}

.about .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #fff;
}

.container h1 {
    font-size: 30px;
    text-align: center;
    padding: 30px 0;
}

.about-us {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 65%;
    padding: 20px;
}

.about-us img {
    width: 400px;
    height: 500px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

.about-us .info {
    padding: 0 40px;
    text-align: justify;
}

.holder {
    position: absolute;
    top: 5%;
    left: 38%;
    width: 30px;
    height: 30px;
    border-radius: 100%;
    border: 4px solid #0a6b40;
    background: white;
}

.book-holder1 {
    position: absolute;
    top: 11%;
    left: 1%;
    width: 30px;
    height: 5px;
    background: #0a6b40;
    border-radius: 5px;
}
.book-holder2 {
    position: absolute;
    top: 20%;
    left: 1%;
    width: 30px;
    height: 5px;
    background: #0a6b40;
    border-radius: 5px;
}
.book-holder3 {
    position: absolute;
    top: 30%;
    left: 1%;
    width: 30px;
    height: 5px;
    background: #0a6b40;
    border-radius: 5px;
}
.book-holder5 {
    position: absolute;
    top: 40%;
    left: 1%;
    width: 30px;
    height: 5px;
    background: #0a6b40;
    border-radius: 5px;
}
.book-holder6 {
    position: absolute;
    top: 50%;
    left: 1%;
    width: 30px;
    height: 5px;
    background: #0a6b40;
    border-radius: 5px;
}
.book-holder7 {
    position: absolute;
    top: 60%;
    left: 1%;
    width: 30px;
    height: 5px;
    background: #0a6b40;
    border-radius: 5px;
}
.book-holder8 {
    position: absolute;
    top: 70%;
    left: 1%;
    width: 30px;
    height: 5px;
    background: #0a6b40;
    border-radius: 5px;
}
.book-holder9 {
    position: absolute;
    top: 80%;
    left: 1%;
    width: 30px;
    height: 5px;
    background: #0a6b40;
    border-radius: 5px;
}
.book-holder10 {
    position: absolute;
    top: 90%;
    left: 1%;
    width: 30px;
    height: 5px;
    background: #0a6b40;
    border-radius: 5px;
}
