* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: 'Poppins', sans-serif;
    background-image: url('images/greenbg.jpeg');
    background-repeat: no-repeat;
    background-size: cover;
}

.container {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 350px;
    background-color: white;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
    padding: 20px;
}

 h1 {
    color: #0a6b40;
    font-size: 30px;
    text-align: center;
    /* padding: 10px 0; */
    margin: 10px 0;
}

.form-box h1::after {
    content: "";
    width: 30px;
    height: 4px;
    border-radius: 3px;
    background-color: #0a6b40;
    position: absolute;
    bottom: -12px;
    left: 50%;
    transform: translateX(-50%);
}

.container form {
    width: 100%;
    justify-content: center;
    align-items: center;
}

form .inputfield {
    position: relative;
    width: 100%;
    position: relative;
}

.formarea {
    margin: 10px 0;
}

.inputfield input {
    position: relative;
    width: 100%;
    padding: 10px 5px 10px 30px;
    border: 2px solid #0a6b40;
    border-radius: 5px;
    font-size: 20px;
    margin: 10px 0;
    background-color: #fff;
}

.inputfield i {
    position: absolute;
    color: #0a6b40;
    font-size: 20px;
    top: 0%;
    left: 2%;
    text-align: center;
    padding: 20px 0;
    /* transform: translate(-50%, -50%); */
    z-index: 1000;
}

form p {
    width: 100%;
    font-size: 13px;
    text-align: left;
}

.createacc {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;margin: 10px 0;
}

.createacc button {
    width: 150px;
    background-color: #0a6b40;
    color: #fff;
    font-size: 20px;
    border: none;
    border-radius: 50px;
    padding: 10px;
    transition: background .1s;
    cursor: pointer;
}