* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: 'Poppins', sans-serif;
    background-image: url('images/greenbg.jpeg');
    background-repeat: no-repeat;
    background-size: cover;
}

.container {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 350px;
    background-color: white;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
    padding: 20px;
}

.form-box h1 {
    color: #0a6b40;
    font-size: 30px;
    text-align: center;
    /* padding: 10px 0; */
    margin: 10px 0;
}

.form-box h1::after {
    content: '';
    width: 30px;
    height: 4px;
    border-radius: 3px;
    background-color: #0a6b40;
    position: absolute;
    top: 70px;
    left: 50%;
    transform: translateX(-50%);
}

.container form {
    width: 100%;
    justify-content: center;
    align-items: center;
}

form .inputfield {
    position: relative;
    width: 100%;
    position: relative;
}

/* .formarea {
    margin: 10px 0;
} */

.inputfield input {
    position: relative;
    width: 100%;
    padding: 10px 5px 10px 40px;
    border: none;
    outline: none;
    border-radius: 5px;
    font-size: 20px;
    margin: 10px 0;
    background-color: #cff6d5;
}

.inputfield i {
    position: absolute;
    color: #0a6b40;
    font-size: 20px;
    top: 0%;
    left: 2%;
    text-align: center;
    padding: 20px 5px;
    /* transform: translate(-50%, -50%); */
    z-index: 1000;
}

form p {
    /* width: 100%; */
    font-size: 13px;
    text-align: left;
    /* padding: 10px 0; */
}

.createacc {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin: 5px 0;
    /* align-items: center; */
}

.createacc button {
    flex-basis: 40%;
    height: 40px;
    background-color: #0a6b40;
    color: #fff;
    border: 0;
    outline: 0;
    border-radius: 20px;
    transition: background 1s;
    cursor: pointer;
}

.createacc button.disable {
    background-color: #cbf0bb;
    color: #0a6b40;
}

.formarea {
    height: 230px;
}